@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply text-sm leading-6
  }

  h1 {
    @apply text-2xl font-semibold
  }

  h2 {
    @apply text-xl font-semibold
  }

  h3 {
    @apply text-lg font-semibold
  }

  p {
    @apply my-4
  }

  .custom-input[placeholder]:empty:before {
    content: attr(placeholder);
    @apply text-gray-300
  }

  .public-DraftEditorPlaceholder-root {
    @apply text-gray-300 !important
  }
}

@layer components {
  .btn {
    @apply
      bg-gray-100
        font-semibold
        text-xs
        px-3 py-2
        rounded-lg
        focus:outline-none
        hover:bg-gray-200
        transition-colors
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-dark
  }

  .btn-text {
    @apply bg-white  hover:bg-gray-100 !important
  }

  .btn-sm {
    @apply px-2 py-1 !important
  }

  .btn.disabled {
    @apply cursor-default pointer-events-none opacity-50
  }

  .btn.active {
    @apply bg-gray-200;
  }

  .btn-sm.active {
    @apply bg-gray-100 !important;
  }

  .lowercase {
    @apply normal-case
  }

  .label {
    @apply
      bg-gray-100
        uppercase
        font-semibold
        text-xxs
        px-2 py-1
        rounded-lg
        focus:outline-none
  }

  .image-card {
    @apply w-full bg-gray-100 mr-2 rounded-lg relative bg-cover bg-center;
    padding-top: 120%;
  }

  .switch-wrapper {
    position: relative;
  }

  .switch-wrapper > div {
    position: absolute;
  }

  .routeFadeIn {
    animation: routeFadeIn 0.3s ease-in-out 0.25s;
    animation-fill-mode: both;
  }

  @keyframes routeFadeIn {
    0% {
      opacity: 0;
      transform: translateY(5px);
      height: 0;
      overflow: hidden;
    }
    0.01% {
      height: auto;
      overflow: visible;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .routeFadeIn.fade-exit {
    animation: none;
    animation-fill-mode: none;
    opacity: 1;
    transition: opacity 0.2s;
  }

  .routeFadeIn.fade-exit-active {
    opacity: 0;
  }
}
